@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


/* taliwind classes likhte hai like => import vagere */

html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FAF9F6;
    font-family: "Baloo Tamma 2";
}

/* .baloo{
}
.poppins{
  font-family: "Poppins";
} */


/* For making utlitiy 
 @utility .text-gradient {
  background: linear-gradient(to right, #6366f1, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
*/

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
} 

@layer components {
  /* automatically styled the main */
  main {
    @apply w-full overflow-x-hidden;

  }
  button{
    @apply cursor-pointer;
  }

  /* automatically styled the navbar */
  nav {
    @apply fixed z-50 w-full;
    
    a{
      @apply cursor-pointer;
    }
    button {
        @apply cursor-pointer;

    }

    /* ul {
      @apply flex-center lg:gap-12 gap-7;
    } */
  }
}